.pm-headings {
	background: rgba($black, 0.8);
	color: $white;
	line-height: 1.05;
	font-weight: bold;
	text-align: center;
	padding: 28px 10px 27px 10px;

	@include respond-above(sm) {
		line-height: 1.02;
		padding-top: 30px;
		padding-bottom: 24px;
	}
}
.pm-headings--winter {
	background: rgba($rhino, 0.8);
}
.pm-headings--summer {
	background: rgba($apple, 0.8);
}
.pm-headings__period {
	font-family: $roboto;
	font-size: 24px;
	position: relative;
	z-index: 1;

	@include respond-above(sm) {
		font-size: 18px;
	}
}
.pm-headings__title {
	font-size: 60px;

	@include respond-above(sm) {
		font-size: 70px;
	}
}