.pm-includes {
	position: relative;
	z-index: 2;
	margin-top: -64px;

	@include respond-above(sm) {
		margin-top: -60px;
	}
}
.pm-includes__main {
	background: $white;
	box-shadow: 0 25px 57px 0 rgba($black, 0.13);


	@include respond-above(sm) {
		margin-right: 60px;
		margin-left: 60px;
	}
}
.pm-includes__header {
	text-align: center;
	padding: 73px 0 0 0;
	color: $text;

	@include respond-above(sm) {
		padding-top: 60px;
	}
}
.pm-includes__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 40px;
	padding-bottom: 7px;

	@include respond-above(sm) {
		padding-bottom: 6px;
	}
}
.pm-includes__descr {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
}
.pm-includes__content {
	padding-top: 55px;

	@include respond-above(sm) {
		padding-top: 48px;
	}
}
.pm-includes__footer {
	font-size: 0;
	text-align: center;
	padding-top: 86px;
	padding-bottom: 85px;

	@include respond-above(sm) {
		padding-top: 54px;
		padding-bottom: 40px;
	}
}
.pm-includes__btn {
	display: inline-block;
	background: none;
	padding: 16px 20px 14px 19px;
	border: 2px solid $deep-cove;
	font-size: 16px;
	line-height: 1;
	font-weight: bold;
	text-decoration: none;
	color: $deep-cove;
	transition: all 0.3s ease 0s;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $white;
		background: $deep-cove;
	}
}

.pm-includes__btn--winter {
	border-color: $dodger-blue;
	color: $cerulean;

	&:hover,
	&:focus {
		background: $dodger-blue;
	}
}
.pm-includes__btn--summer {
	border-color: $apple;
	color: $apple;

	&:hover,
	&:focus {
		background: $apple;
	}
}