.no-gutters {
	margin-right: 0;
	margin-left: 0;

	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}


%bg-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.bg-img {
	@extend %bg-img;
}


img {
	vertical-align: middle;
}

ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}


// отключение событий на елементе [
.pe-none {
	pointer-events: none;
}
// ] отключение событий на елементе

%all-transition {
	transition: all 0.3s ease 0s;
}


%clearbtn {
	display: inline-block;
	background: none;
	line-height: 1;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	text-align: center;
	font-family: $default-font;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.clearbtn {
	@extend %clearbtn;
}

.font-weight-75,
.font-weight-hairline {
	font-weight: 75;
}
.font-weight-100,
.font-weight-thin {
	font-weight: 100;
}
.font-weight-300,
.font-weight-light {
	font-weight: 300;
}
.font-weight-400,
.font-weight-regular,
.font-weight-book {
	font-weight: 400;
}
.font-weight-500,
.font-weight-medium {
	font-weight: 500;
}
.font-weight-600,
.font-weight-demi,
.font-weight-semibold {
	font-weight: 600;
}
.font-weight-700,
.font-weight-bold {
	font-weight: 700;
}
.font-weight-800,
.font-weight-extrabold,
.font-weight-xbold {
	font-weight: 800;
}
.font-weight-900,
.font-weight-black,
.font-weight-heavy {
	font-weight: 900;
}

.field {
	display: block;
	border: none;

	width: 100%;
	height: 40px;

	padding: 0 20px 0 20px;

	font-family: $default-font;
	font-size: 10px;
	text-transform: uppercase;
	color: $text;
	line-height: 1;

	// border-bottom: 1px solid rgba($text, 0.7);
	background: $white;

	@include myplaceholder {
		color: rgba($text, 0.5);
	}
}

.fz0 {
	font-size: 0;
	line-height: 1;
}

.text-nonecase {
	text-transform: none !important;
}


.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}