* {
	box-sizing: border-box;
	outline: none !important;
}
*:before,
*:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	font-family: $default-font;
	font-size: $font-size;
	line-height: $line-height;
	color: $text;
	background: $white;
	height: 100%;
}

.pm-clearfix {
	&:before,
	&:after {
		display: table;
		content: " ";
	}
	&:after {
		clear: both;
	}
}

.text-nowrap {
	white-space: nowrap;
}

.pm-wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;

	// width: 640px;
	// width: 1440px;
}
.pm-wrap {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;

	@include respond-above(sm) {
		padding-right: 20px;
		padding-left: 20px;
	}
}
.pm-center {
	padding: 0 10px 0 10px;

	@include respond-above(xs) {
		padding: 0 35px 0 35px;
	}

	@include respond-above(sm) {
		padding: 0;
	}
}