$icomoon-font-family: "icomoon" !default;

$icon--chevron-left: "\e900";
$icon--chevron-right: "\e901";
$icon--plus: "\e902";
$icon--bookmark-fill: "\e906";
$icon--bookmark-line-not-path1: "\e903";
$icon--bookmark-line-not-path2: "\e904";
$icon--bookmark-line: "\e905";

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--chevron-left {
  &:before {
    content: $icon--chevron-left; 
  }
}
.icon--chevron-right {
  &:before {
    content: $icon--chevron-right; 
  }
}
.icon--plus {
  &:before {
    content: $icon--plus; 
  }
}
.icon--bookmark-fill {
  &:before {
    content: $icon--bookmark-fill; 
  }
}
.icon--bookmark-line-not .path1 {
  &:before {
    content: $icon--bookmark-line-not-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon--bookmark-line-not .path2 {
  &:before {
    content: $icon--bookmark-line-not-path2;  
    margin-left: -1em;  
    color: rgb(239, 65, 48);
  }
}
.icon--bookmark-line {
  &:before {
    content: $icon--bookmark-line; 
  }
}