$icomoon-font-family: "icomoon" !default;

$pm-icon__chevron-left: "\e914";
$pm-icon__chevron-right: "\e915";
$pm-icon__star: "\e916";
$pm-icon__internet: "\e90e";
$pm-icon__cocktail: "\e90f";
$pm-icon__tram: "\e910";
$pm-icon__dumbbell: "\e911";
$pm-icon__glass: "\e912";
$pm-icon__bunk: "\e913";
$pm-icon__skipass: "\e900";
$pm-icon__bell: "\e901";
$pm-icon__bed: "\e902";
$pm-icon__runner: "\e903";
$pm-icon__chaise: "\e904";
$pm-icon__leaf: "\e905";
$pm-icon__piggybank: "\e906";
$pm-icon__cutlery: "\e907";
$pm-icon__baby: "\e908";
$pm-icon__cards: "\e909";
$pm-icon__discount: "\e90a";
$pm-icon__clock: "\e90b";
$pm-icon__wifi: "\e90c";
$pm-icon__lift: "\e90d";

.pm-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pm-icon__chevron-left {
  &:before {
    content: $pm-icon__chevron-left; 
  }
}
.pm-icon__chevron-right {
  &:before {
    content: $pm-icon__chevron-right; 
  }
}
.pm-icon__star {
  &:before {
    content: $pm-icon__star; 
  }
}
.pm-icon__internet {
  &:before {
    content: $pm-icon__internet; 
  }
}
.pm-icon__cocktail {
  &:before {
    content: $pm-icon__cocktail; 
  }
}
.pm-icon__tram {
  &:before {
    content: $pm-icon__tram; 
  }
}
.pm-icon__dumbbell {
  &:before {
    content: $pm-icon__dumbbell; 
  }
}
.pm-icon__glass {
  &:before {
    content: $pm-icon__glass; 
  }
}
.pm-icon__bunk {
  &:before {
    content: $pm-icon__bunk; 
  }
}
.pm-icon__skipass {
  &:before {
    content: $pm-icon__skipass; 
  }
}
.pm-icon__bell {
  &:before {
    content: $pm-icon__bell; 
  }
}
.pm-icon__bed {
  &:before {
    content: $pm-icon__bed; 
  }
}
.pm-icon__runner {
  &:before {
    content: $pm-icon__runner; 
  }
}
.pm-icon__chaise {
  &:before {
    content: $pm-icon__chaise; 
  }
}
.pm-icon__leaf {
  &:before {
    content: $pm-icon__leaf; 
  }
}
.pm-icon__piggybank {
  &:before {
    content: $pm-icon__piggybank; 
  }
}
.pm-icon__cutlery {
  &:before {
    content: $pm-icon__cutlery; 
  }
}
.pm-icon__baby {
  &:before {
    content: $pm-icon__baby; 
  }
}
.pm-icon__cards {
  &:before {
    content: $pm-icon__cards; 
  }
}
.pm-icon__discount {
  &:before {
    content: $pm-icon__discount; 
  }
}
.pm-icon__clock {
  &:before {
    content: $pm-icon__clock; 
  }
}
.pm-icon__wifi {
  &:before {
    content: $pm-icon__wifi; 
  }
}
.pm-icon__lift {
  &:before {
    content: $pm-icon__lift; 
  }
}

